[ Normal ][ server start success! ][ 1610003868 ][ HttpServer.hpp ][ 63 ]
[ Normal ][ Get a new link ][ 1610003873 ][ HttpServer.hpp ][ 69 ]
debug new sock is :6
[ Warning ][ set no block error ][ 1610003873 ][ io.hpp ][ 36 ]
debug nfds is >1
dubug,get success fd is :6
--------------------------------------------
Method is GET
Url is /
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/index.html
[ NORMAL ][ exec by non cgi ][ 1610003873 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :6
--------------------------------------------
Method is GET
Url is /app.css
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/app.css
[ NORMAL ][ exec by non cgi ][ 1610003873 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/css
[ Normal ][ Get a new link ][ 1610003873 ][ HttpServer.hpp ][ 69 ]
debug new sock is :7
[ Warning ][ set no block error ][ 1610003873 ][ io.hpp ][ 36 ]
[ Normal ][ Get a new link ][ 1610003873 ][ HttpServer.hpp ][ 69 ]
debug new sock is :8
[ Warning ][ set no block error ][ 1610003873 ][ io.hpp ][ 36 ]
debug ep val is
debug nfds is >2
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/softgames-1.1.js
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/softgames-1.1.js
[ NORMAL ][ exec by non cgi ][ 1610003873 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: application/x-javascript
dubug,get success fd is :8
--------------------------------------------
Method is GET
Url is /assets/sg.hooks.js
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/sg.hooks.js
[ NORMAL ][ exec by non cgi ][ 1610003873 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: application/x-javascript
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/tile.png
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/tile.png
[ NORMAL ][ exec by non cgi ][ 1610003874 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :8
--------------------------------------------
Method is GET
Url is /softgames_game.js
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/softgames_game.js
[ NORMAL ][ exec by non cgi ][ 1610003874 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: application/x-javascript
debug ep val is
debug nfds is >1
dubug,get success fd is :8
--------------------------------------------
Method is GET
Url is /favicon.ico
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/favicon.ico
[ NORMAL ][ path is not legal ][ 1610003874 ][ Protocol.hpp ][ 543 ]
debug , content-type is Content-Type: text/html
[ Error ][ open file error ][ 1610003874 ][ Protocol.hpp ][ 221 ]
debug ep val is
debug nfds is >1
dubug,get success fd is :8
[ Warning ][ recv request line error ][ 1610003874 ][ Protocol.hpp ][ 315 ]
[ Error ][ recv http request error ][ 1610003874 ][ Protocol.hpp ][ 522 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
[ Normal ][ Get a new link ][ 1610003874 ][ HttpServer.hpp ][ 69 ]
debug new sock is :9
[ Warning ][ set no block error ][ 1610003874 ][ io.hpp ][ 36 ]
[ Normal ][ Get a new link ][ 1610003874 ][ HttpServer.hpp ][ 69 ]
debug new sock is :10
[ Warning ][ set no block error ][ 1610003874 ][ io.hpp ][ 36 ]
--------------------------------------------
Method is GET
Url is /assets/sound/music.ogg
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/sound/music.ogg
[ NORMAL ][ exec by non cgi ][ 1610003874 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :6
--------------------------------------------
Method is GET
Url is /assets/sound/click.ogg
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/sound/click.ogg
[ NORMAL ][ exec by non cgi ][ 1610003874 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
[ Normal ][ Get a new link ][ 1610003874 ][ HttpServer.hpp ][ 69 ]
debug new sock is :11
[ Warning ][ set no block error ][ 1610003874 ][ io.hpp ][ 36 ]
debug ep val is
debug nfds is >2
dubug,get success fd is :9
--------------------------------------------
Method is GET
Url is /assets/sound/match_1.ogg
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/sound/match_1.ogg
[ NORMAL ][ exec by non cgi ][ 1610003874 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
[ Normal ][ Get a new link ][ 1610003874 ][ HttpServer.hpp ][ 69 ]
debug new sock is :13
[ Warning ][ set no block error ][ 1610003874 ][ io.hpp ][ 36 ]
dubug,get success fd is :10
--------------------------------------------
Method is GET
Url is /assets/sound/match_2.ogg
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/sound/match_2.ogg
[ NORMAL ][ exec by non cgi ][ 1610003874 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :11
--------------------------------------------
Method is GET
Url is /assets/sound/match_3.ogg
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/sound/match_3.ogg
[ NORMAL ][ exec by non cgi ][ 1610003874 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :6
--------------------------------------------
Method is GET
Url is /assets/sound/match_4.ogg
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/sound/match_4.ogg
[ NORMAL ][ exec by non cgi ][ 1610003874 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :13
--------------------------------------------
Method is GET
Url is /assets/sound/match_5.ogg
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/sound/match_5.ogg
[ NORMAL ][ exec by non cgi ][ 1610003874 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :9
--------------------------------------------
Method is GET
Url is /assets/sound/drop_1.ogg
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/sound/drop_1.ogg
[ NORMAL ][ exec by non cgi ][ 1610003874 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :10
--------------------------------------------
Method is GET
Url is /assets/sound/drop_2.ogg
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/sound/drop_2.ogg
[ NORMAL ][ exec by non cgi ][ 1610003874 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :11
--------------------------------------------
Method is GET
Url is /assets/sound/drop_3.ogg
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/sound/drop_3.ogg
[ NORMAL ][ exec by non cgi ][ 1610003874 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :6
--------------------------------------------
Method is GET
Url is /assets/sound/line.ogg
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/sound/line.ogg
[ NORMAL ][ exec by non cgi ][ 1610003874 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :10
--------------------------------------------
Method is GET
Url is /assets/sound/awesome.ogg
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/sound/awesome.ogg
[ NORMAL ][ exec by non cgi ][ 1610003874 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :6
--------------------------------------------
Method is GET
Url is /assets/sound/kill_color.ogg
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/sound/kill_color.ogg
[ NORMAL ][ exec by non cgi ][ 1610003874 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :6
--------------------------------------------
Method is GET
Url is /assets/sound/boom.ogg
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/sound/boom.ogg
[ NORMAL ][ exec by non cgi ][ 1610003874 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :10
--------------------------------------------
Method is GET
Url is /assets/sound/exchange.ogg
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/sound/exchange.ogg
[ NORMAL ][ exec by non cgi ][ 1610003874 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :9
--------------------------------------------
Method is GET
Url is /assets/sound/win.ogg
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/sound/win.ogg
[ NORMAL ][ exec by non cgi ][ 1610003874 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/sound/lose.ogg
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/sound/lose.ogg
[ NORMAL ][ exec by non cgi ][ 1610003874 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/sound/lighting.ogg
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/sound/lighting.ogg
[ NORMAL ][ exec by non cgi ][ 1610003874 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/perfect_star_on_1.png
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/perfect_star_on_1.png
[ NORMAL ][ exec by non cgi ][ 1610003874 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/perfect_star_on_1.png
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/perfect_star_on_1.png
[ NORMAL ][ exec by non cgi ][ 1610003874 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/perfect_star_off_1.png
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/perfect_star_off_1.png
[ NORMAL ][ exec by non cgi ][ 1610003874 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/perfect_star_off_1.png
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/perfect_star_off_1.png
[ NORMAL ][ exec by non cgi ][ 1610003874 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/main_menu_hills.png
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/main_menu_hills.png
[ NORMAL ][ exec by non cgi ][ 1610003874 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/main_menu_hills.png
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/main_menu_hills.png
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/cloud_logo.png
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/cloud_logo.png
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/cloud_logo.png
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/cloud_logo.png
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/title.png
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/title.png
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/title.png
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/title.png
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/main_menu_white_front.png
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/main_menu_white_front.png
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/main_menu_white_front.png
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/main_menu_white_front.png
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/main_menu_rainbow.png
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/main_menu_rainbow.png
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/main_menu_rainbow.png
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/main_menu_rainbow.png
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/select_level_back.png
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/select_level_back.png
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/select_level_back.png
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/select_level_back.png
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/top_panel.png
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/top_panel.png
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/top_panel.png
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/top_panel.png
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/message_window.png
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/message_window.png
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/message_window.png
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/message_window.png
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/rotate.png
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/rotate.png
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/rotate.png
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/rotate.png
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/task_panel.png
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/task_panel.png
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/task_panel.png
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/task_panel.png
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/lighting.png
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/lighting.png
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/lighting.png
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/lighting.png
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/all.png
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/all.png
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/all.png
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/all.png
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/candies.png
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/candies.png
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/candies.png
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/candies.png
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/clouds.png
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/clouds.png
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/clouds.png
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/clouds.png
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/buttons.png
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/buttons.png
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/buttons.png
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/buttons.png
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/boom.png
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/boom.png
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/boom.png
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/boom.png
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/score_font.png
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/score_font.png
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/score_font.png
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/score_font.png
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/map_font.png
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/map_font.png
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/map_font.png
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/map_font.png
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/gui_font.png
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/gui_font.png
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/gui_font.png
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/gui_font.png
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: text/html
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/main_menu_back.jpg
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/main_menu_back.jpg
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: application/x-jpg
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/main_menu_back.jpg
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/main_menu_back.jpg
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: application/x-jpg
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/fill_bottom.jpg
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/fill_bottom.jpg
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: application/x-jpg
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/fill_bottom.jpg
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/fill_bottom.jpg
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: application/x-jpg
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/fill_top.jpg
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/fill_top.jpg
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: application/x-jpg
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/fill_top.jpg
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/fill_top.jpg
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: application/x-jpg
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/map_1.jpg
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/map_1.jpg
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: application/x-jpg
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/map_1.jpg
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/map_1.jpg
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: application/x-jpg
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/map_2.jpg
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/map_2.jpg
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: application/x-jpg
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/map_2.jpg
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/map_2.jpg
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: application/x-jpg
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/map_3.jpg
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/map_3.jpg
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: application/x-jpg
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/map_3.jpg
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/map_3.jpg
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: application/x-jpg
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/map_4.jpg
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/map_4.jpg
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: application/x-jpg
debug ep val is
debug nfds is >1
dubug,get success fd is :7
--------------------------------------------
Method is GET
Url is /assets/art/map_4.jpg
Version is HTTP/1.1
--------------------------------------------
path is :./wwwroot/assets/art/map_4.jpg
[ NORMAL ][ exec by non cgi ][ 1610003875 ][ Protocol.hpp ][ 553 ]
debug , content-type is Content-Type: application/x-jpg
debug ep val is
